.git
.gitignore
.venv
__pycache__
**/__pycache__/
*.pyc
**/*.pyc
.pytest_cache
**/.pytest_cache/
.mypy_cache
.ruff_cache

.env
*.env

data/*.csv
data/*.parquet
data/*.xlsx
models/*.joblib
models/*.pkl

tests
README.md
