AWS_REGION=us-east-1
AWS_STACK_NAME=mlops-aws-poc-poc
AWS_ECR_REPOSITORY=mlops-aws-poc
AWS_ENVIRONMENT=poc
AWS_ALLOWED_HTTP_CIDR=0.0.0.0/0
AWS_ROLE_TO_ASSUME=arn:aws:iam::<account-id>:role/mlops-aws-poc-github-actions
MODEL_S3_URI=s3://<bucket>/models/baseline_regressor/v1/model.joblib
MODEL_S3_BUCKET=<bucket>
MODEL_S3_KEY=models/baseline_regressor/v1/model.joblib
